.card {
  border: 1px solid black;
  height: 108px;

  margin: 4px;
  flex-basis: 77px;

  text-align: center;
  vertical-align: middle;
  line-height: 108px;
}

.selected {
  border: 2px solid blue;
  margin: 3px;
}

.cardback {
  font-size: 75%;
  transform: rotate(60deg);
  font-style: oblique;
}

.removed {
  border: none;
  margin: 5px;
}

@media (min-width: 600px) {
  .card {
    height: 144px;
    flex-basis: 103px;
    line-height: 144px;
  }

  .cardback {
    font-size: 100%;
  }
}