.card {
  /* Add Depth */
  box-sizing: border-box;
  border: 2px solid black;
  height: 108px;

  margin: 4px;
  flex-basis: 77px;

  text-align: center;
  vertical-align: middle;
  line-height: 108px;

  color: #fff;
  background-color: #3f51b5;

}

.selected {
  background-color: white;
  color: black;
}

.cardback {
  font-size: 75%;
  transform: rotate(60deg);
  font-style: oblique;
  text-emphasis: bold;
}

.removed {
  border: none;
  background-color: #f3f4fb;
}

@media (min-width: 600px) {
  .card {
    height: 144px;
    flex-basis: 103px;
    line-height: 144px;
  }

  .cardback {
    font-size: 100%;
  }
}