.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 300px;
  padding-right: 25px;
}

@media (min-width: 600) {
  .info{
    width: 600px;
    padding-right: 50px;
  }
}