.playarea {
  width: 450px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button.newGame {
  position: absolute;
  top: 50%;
  left: 40%;
  border: 1px solid black;
  background-color: white;
}

.gameOver {
  position: absolute;
  top: 35%;
  left: 40%;
  color: #3f51b5;
  background-color: #f3f4fb;
}

@media (min-width: 600px) {
  .playarea {
    width: 600px;
  }
}