.playarea {
  width: 450px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button.newGame {
  position: absolute;
  top: 50%;
  left: 40%;
}

.gameOver {
  position: absolute;
  top: 35%;
  left: 40%;
}

@media (min-width: 600px) {
  .playarea {
    width: 600px;
  }
}